/*-- scss:defaults --*/

// Fonts
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;600;700&family=Roboto+Slab:wght@400;600;800&family=Source+Sans+Pro:ital,wght@0,400;0,600;1,400;1,600&display=swap');



//Colors
$red: #CC0000;
$dark: #090909;
$blue: #091589;
$light: #F1F1F1;
$heading-underline-color: #e0e0e0;  // A light gray color, adjust as needed

// Base document colors
$navbar-bg: $dark; // navbar
$navbar-fg: $light; // navbar foreground elements
$navbar-hl: $red; // highlight color when hovering over navbar links
$link-color: $red; // hyperlinks 

// Inline code
$code-bg: $light; // inline code background color
$code-color: $red; // inline code text color

// Code blocks
$code-block-bg: $light; // code block background color

/*-- scss:rules --*/

h1 {
  font-weight: 800;
  font-family: Roboto Slab, serif;
  margin-top: 4rem;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid $heading-underline-color;
  margin-bottom: 1rem;  // Add some space after the line
}

h2 {
  font-weight: 800;
  font-family: Roboto Slab, serif;
  margin-top: 2rem;
  border-bottom: none;  // This removes any bottom border
}

h3, h4 {
  font-weight: 600;
  font-family: Roboto Slab, serif;
}

body{
  font-family: Source Sans Pro, sans-serif;
  //font-size: 12pt;
}

code {
  font-family: Cascadia Code, Fira Code, monospace;
}

.sidebar-logo {
    max-height: 80px;
    margin-bottom: 10px;
}

.column-margin{
  font-size: 0.7em;
}